<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
			<Files Include="$(var.SolutionDir)Autoprint.Server\bin\Release\net10.0\publish\**">
				<Exclude Files="$(var.SolutionDir)Autoprint.Server\bin\Release\net10.0\publish\appsettings.json" />
			</Files>
		</ComponentGroup>

		<ComponentGroup Id="ConfigFiles" Directory="INSTALLFOLDER">
			<Component Id="AppSettingsComp" Guid="{59DF8E04-34C9-4EE7-AFE6-31395DD0D386}" KeyPath="yes">
				<File Id="AppSettingsJson" Source="$(var.SolutionDir)Autoprint.Server\bin\Release\net10.0\publish\appsettings.json" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>