@inherits LayoutComponentBase
@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">

                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>

    <NotAuthorized>
        <div class="login-container bg-light min-vh-100 d-flex align-items-center justify-content-center">
            <div class="w-100">
                @Body
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>