<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Autoprint Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="imprimantes">
                <span class="bi bi-printer-fill" aria-hidden="true"></span> Imprimantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lieux">
                <span class="bi bi-geo-alt-fill" aria-hidden="true"></span> Lieux
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="marques">
                <span class="bi bi-tags-fill" aria-hidden="true"></span> Marques
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modeles">
                <span class="bi bi-file-earmark-text-fill" aria-hidden="true"></span> Modèles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pilotes">
                <span class="bi bi-usb-drive-fill" aria-hidden="true"></span> Pilotes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parametres">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Paramètres
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}